/* You can add global styles to this file, and also import other style files */
.producto{
    height: 400px;
    width: 300px;
}

.micard{
    background-color: deepskyblue;
    border: 1px solid black;
}